
    <form action="/test/Signup" method="post">
        <input type="text" name="name" />
        <input type="password" name="pw" />
        <input type="email" name="email" />
        <button>가입</button>
        <a href="/test/login/"></a>
    </form>

