@{
}

<form action="/test/login" method="post">
    <div>
        <input type="text" name="userName" placeholder="아이디(이메일)" />
    </div>

    <div>
        <input type="text" name="pw" placeholder="비밀번호"
    </div>
    <button>로그인</button>
</form>