@{
    ViewData["Title"] = "Privacy Policy";
}

@model IEnumerable<ProductModel>
@{
    foreach(var pro in Model)
    {
        var pname = pro.ProductName;
        var pquan = pro.ProductQuantity;
        Console.WriteLine(pname);
        Console.WriteLine(pquan);
    }
}
<h1>@ViewData["Title"]</h1>
<p>Use this page to detail your site's privacy policy.</p>
