
<div class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">비밀번호 찾기</h1>
                                        <p class="mb-4"></p>
                                    </div>
                                    <form class="user" action="/auth/findpassword" method="post">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" 
                                                   name="userName" placeholder="아이디를 입력하세요.">
                                            @*<input type="email" class="form-control form-control-user"
                                                   name="exampleInputEmail" placeholder="아이디를 입력하세요.">*@
                                        </div>
                                        <button class="btn btn-primary btn-user btn-block">
                                            비밀번호 재설정
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="/auth/signup">계정 만들기</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="/auth/login">로그인 하기</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    @*<script>
        function checkEmail() {
            const email = document.getElementById("exampleInputEmail").value;
            // 여기에서 이메일을 서버로 전송하여 데이터베이스에 등록된 이메일인지 확인하는 로직을 작성해야 합니다.
            // 이 예시에서는 간단히 확인하고 경고 메시지를 띄웁니다.
            if (email === "등록되지않은이메일@example.com") {
                alert("등록되지 않은 이메일입니다. 이메일을 확인해주세요.");
                return false; // 페이지 전환을 막습니다.
            }
            // 등록된 이메일인 경우, 비밀번호 재설정 페이지로 이동합니다.
            return true;
        }
    </script>*@

</div>
